//ajustar a los requerimientos
//jade funciona sin <>
doctype html
html(lang="es")
    head
        title=titulo
    body
        h1
            a(href="http://tienda_de_fruta.com") Tienda de frutas
        div
            p Nuestra tienda tiene muchas frutas
            img(src="img/"+imagen)

        h2 Nuestras frutas
        ul
            li manzana
            li pera
            li aguacate
            li=fruta
